/* YOUR CUSTOM STYLES */
body{
	font-size: 1.2em;
	background-color: #e0e0e0;
}

.lb{
	color: white !important;
}

.ln{
	color: black;
}

.la{
	color: #0275d8;
}

.negrita{
	font-weight: 600;
}

.mb-20{
	margin-bottom: 20px !important;
}

.mt{
	margin-top: 50px;
}

.mt-10{
	margin-top: 10px !important;
}

.pt-10{
	padding-top: 10px !important;
}

.pb-10{
	padding-bottom: 10px;
}

.pt-20{
	padding-top: 20px !important;
}

.p5{
	padding: 5px;
}

.pb-20{
	padding-bottom: 20px !important;
}

.p10{
	padding: 10px !important;
}

.p20{
	padding: 20px !important;
}

.p0{
	padding: 0px;
}

.p40{
	padding: 40px;
}
.prl20{
	padding-left: 20px;
	padding-right: 20px;
}

.br10{
	border-radius: 10px;
}

.brai{
	border-radius: 0px 0px 0px 20%;
}

.bb{
	border-bottom: 5px solid lightblue;
}

.ta{
	text-align: center;
}

.primario{
	background-color: #0275d8 !important;
}

.secundario{
	/*background-color: #f57c00 !important;*/
	/*background-color: #5ea73e;*/
	background-color: #e0e0e0;
}

.terciario{
	background-color: #eee;
}

.blanco{
	background-color: white;
}

.gris{
	background-color: #e0e0e0;
}


.b5{
	border: 5px solid white;
}

.maxancho{
	max-width: 100%;
}

.img-ro{
	/*border-radius: 50%;*/
	background-color: #EDF2F2;
	z-index: +1;
	/*border: 3px solid #009BE5;*/
	float: none;
	padding-top: 40px;
	padding-bottom: 40px;
}

.enlinea{
	width: 100%;
	float: none;
	display: inline-block;
	margin-right: -4px;
	/*position: absolute;*/
}

.encoger{
	max-width: 60%;
	padding: 0px;
}

.encabezado{
	/*background-color: #00C8EF;*/
	background-color: #113761;
	color: white;
	/*background: red; // For browsers that do not support gradients*/
   /* background: -webkit-linear-gradient(#113761, #00C8EF);
    background: -o-linear-gradient(#113761, #00C8EF); 
    background: -moz-linear-gradient(#113761, #00C8EF); 
    background: linear-gradient(#113761, #00C8EF); */
}

.encabezado2{
	background-color: #009BE5;
}
.contenedor{
	/*background-color: #00C8EF;*/
	background-color: #e0e0e0;
	/*float: none;*/
	margin-bottom: 10px;
}

.retraso-1{
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	animation-delay: 1s;
}

.retraso-2{
	-webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
	animation-delay: 2s;
}

.norte{
	/*background-color: #00C8EF;*/
	/*background-color: #113761;*/
	/*color: white;*/
	background: red; 
    background: -webkit-linear-gradient(#0275d8, white);
    background: -o-linear-gradient(#0275d8, white); 
    background: -moz-linear-gradient(#0275d8, white); 
    background: linear-gradient(#0275d8, white); 
}

